@function rem($px) {
	@return $px / 16px + 0rem;
}


$ffNormal:  'Roboto', sans-serif;
$fwNormal:  400;

$ffLight:  'Roboto Slab', serif;
$fwLight:  400;

$ffBold: 'Roboto Slab', serif;
$fwBold:  700;

$paddingBlock: rem(10px);
$paddingSection: rem(30px);
$marginBlock: rem(10px);
$marginSection: rem(30px);

$colorFontB: rgba(#333333,1);
$colorFontW: rgba(#fff,1);


$colorAcent: #3059a9;
$colorGold: #d2bb89;


