section.description
  .grid-wrapper
    .grid-row
      h1.description__title
        span.description__title-gold Добро пожаловать
        span.description__title-black Отель ренессанс
      p.description__text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Рот использовало приставка безорфографичный напоивший lorem залетают свой, большой если? Переулка жизни, за предупредила всеми предложения дал над толку безорфографичный.
      .banner
        span.banner__stick специальное предложение
        h2.banner__title Скидка 10%
        p.banner__text Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты.
        .banner__price
          span.banner__price-text стоимость со скидкой
          span.banner__price-count 2.500 Р
        .banner__button Заказать услугу
      .gallery
        .gallery__item
          img(src="./images/features.jpg", alt="")
        .gallery__item
          img(src="./images/features2.jpg", alt="")
        .gallery__item.gallery__item--mbottom
          img(src="./images/features2.jpg", alt="")
        .gallery__item.gallery__item--mbottom
          img(src="./images/features.jpg", alt="")
            

