section.room
  .grid-wrapper
    .grid-row
      .room__block
        .room__block-preview
        .room__block-description
          h2.room__block-title Номер люкс
          p.room__block-text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Знаках свой предложения пунктуация коварный точках жаренные семь но дорогу!
          button.button Подробнее
