section.more
  h2.more__title Скидка при раннем бронировании
  .more__block 
    h5.more__block-title скидка
    .more__block-wrap
      span.more__block-num 10%
      span.more__block-text процентов
  .more__block 
    h5.more__block-title до моря
    .more__block-wrap
      span.more__block-num 100
      span.more__block-text метров
  .more__block 
    h5.more__block-title до пляжа
    .more__block-wrap
      span.more__block-num 5
      span.more__block-text минут
  a(href="").more__link
    span.more__link-title Забронируйте места
    span.more__link-subtitle заполнив форму